<mat-toolbar class="header">
    <mat-toolbar-row style="justify-content: space-between">
        <span>

        </span>
        <span style="overflow-y: scroll;">
            <span class="headingText">
                Dat-Vision
            </span>
        </span>

        <span>
            <app-user-template (signOut)="logout()"></app-user-template>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="mt-3 text-center">
    <div class="chart-heading">Chiller</div>
    <!-- <div class="chart-card"> -->
    <a href="/chiller"><img src="assets/icons/CHILL-logo-darkblue.svg"
            class="mt-3 p-3 chart-card chiller-image-landing-page"></a>
    <!-- </div> -->

</div>