$primaryTextColor : #000000;
$primaryTextHoverColor : #fff;

// $layoutPrimaryColor :rgba(0, 123, 255, 1);
$layoutPrimaryColor :rgba(24, 54, 147, 1);

$layoutHoverColor : #fff;

$backgroundColor : #e3f2fd;

$waveColor : #1e88e5;

// $primaryButtonColor : rgba(0,0,225,0.7);
// $primaryButtonHoverColor : rgba(0,0,225,0.6);

$primaryButtonColor : rgba(24, 54, 147, 0.9);
$primaryButtonHoverColor : rgba(24, 54, 147, 0.8);

$mobileWidth : 490px;
